* {
	padding: 0;
	margin: 0;
}

body {
	background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

.col-md-4 {
	margin-bottom: 15px;
}

.navbar h1 {
	color: #ececec;
}

hr {
	margin-top: 0 !important;
}

.footer {
	bottom: 0;
	width: 100%;
	background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
	color: white;
	font-size: 22px;
	text-align: center;
}

.footer p {
	margin-bottom: 0;
}

.footer-text {
	font-family: 'Nunito', sans-serif;
	color: white;
	font-size: 18px;
}

footer a:hover {
	text-decoration: none;
	cursor: pointer;
}
